/* Error: The target selector was not found.
 * Use "@extend .d-none !optional" to avoid this error.
 *   ,
 * 6 |       @extend .d-none; @extend .d-sm-block; @extend .d-md-block;
 *   |       ^^^^^^^^^^^^^^^
 *   '
 *   src\scss\header-footer.scss 6:7  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend .d-none !optional" to avoid this error.\a   \2577 \a 6 \2502        @extend .d-none; @extend .d-sm-block; @extend .d-md-block;\a   \2502        ^^^^^^^^^^^^^^^\a   \2575 \a   src\\scss\\header-footer.scss 6:7  root stylesheet';
}
