@use "sass:map";

.badge {
  text-transform: uppercase;
  text-decoration: none;
}

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    background-color: map.get($colors-variant, #{$color}-dark);
    color: color-yiq(map.get($colors-variant, #{$color}-dark));
  }
  .badge-subtle-#{$color} {
    color: map.get($colors-variant, #{$color}-darker);
    background-color: map.get($colors-variant, #{$color}-lightest);
    box-shadow: inset 0 0 0 0.0625rem;
  }
}
.badge-subtle-light {
  color: uspto-color("gray") !important;
}
