@use "sass:map";

.badge {
  text-transform: uppercase;
  text-decoration: none;
}

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    background-color: map.get($colors-variant, #{$color}-dark);
  }
}
