@use "sass:map";

.badge {
  text-transform: uppercase;
  text-decoration: none;
}

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    background-color: map.get($colors-variant, #{$color}-dark);
    color: color-yiq(map.get($colors-variant, #{$color}-dark));
    &.subtle {
      color: map.get($colors-variant, #{$color}-dark);
      background-color: map.get($colors-variant, #{$color}-lightest);
      border: 1px solid map.get($colors-variant, #{$color}-dark);
    }
  }
}
