.custom-control {
  + .custom-control {
    margin-top: 0.75rem;
  }
  &-label {
    line-height: $line-height-base;
    &::before {
      border: 0;
      box-shadow: 0 0 0 0.125rem #757575;
      @media print {
        -webkit-print-color-adjust: exact;
        -webkit-filter: opacity(1);
      }
    }
  }
  &-input {
    &:checked,
    &:indeterminate {
      ~ .custom-control-label::before {
        box-shadow: 0 0 0 0.125rem $primary;
      }
    }
    &:focus {
      outline: 0.25rem solid #2491ff;
      outline-offset: 0;
      ~ .custom-control-label::before {
        box-shadow: 0 0 0 0.125rem $primary;
        outline: 0.25rem solid #2491ff;
        outline-offset: 0;
      }
    }
  }
}
.custom-control-input {
  &[disabled],
  &:disabled {
    ~ .custom-control-label {
      &::before {
        box-shadow: 0 0 0 0.125rem $custom-control-label-disabled-color;
      }
    }
  }
}

// .custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before

.custom-checkbox {
  .custom-control-label::after {
    background: no-repeat 50%/70% 70%;
  }
  .custom-control-input:disabled:checked,
  .custom-control-input:disabled:indeterminate {
    ~ .custom-control-label::before {
      background-color: $secondary-lightest;
    }
  }
}

.custom-radio {
  .custom-control-label::after {
    background: no-repeat 50%/100% 100%;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    background-color: white !important;
  }
  .custom-control-input:checked:disabled ~ .custom-control-label {
    &::after {
      background-image: escape-svg($custom-radio-indicator-icon-disabled);
    }
  }
}

.custom-select:focus {
  outline: 0.25rem solid #2491ff;
  outline-offset: 0;
  box-shadow: none;
}

.custom-range {
  &:focus {
    outline: 0.25rem solid #2491ff;
    outline-offset: 0;
  }
}

//Custom control with border and blue background
.custom-control {
  &.tile {
    padding-left: 0;    
    .custom-control-input+.custom-control-label {  
      &::before, &::after {
        top: .8rem;
        left: 1rem;
      }  
      border: 2px solid #e6e6e6;
      border-radius: .25rem;
      padding: .75rem 1rem .75rem 3rem;
      width: 100%;
  } 
  .custom-control-input:checked+.custom-control-label {
    background-color: #d9e8f6;
    border-color: #73b3e7;    
  } 
  .custom-control-input:disabled+.custom-control-label {
    background-color: #fff;
    border-color: #e6e6e6;    
  } 
  }
}

// multiple file upload

@each $color, $value in $theme-colors {
  .multiple-upload-#{$color} {
    padding: 0.5rem;
    margin: 1rem 0;
    background: $white;
    border-radius: .4rem;
    overflow: hidden;
    .input-file {
      position: absolute; z-index: -9999; height: 0px; width: 0px; padding: 0px; margin: 0px; line-height: 0; outline: 0px; border: 0px; opacity: 0;
    }
    .input-upload-area {
      border: 2px dashed $value;
      border-radius: .4rem;
      text-align: center;
      padding: 3rem 0 3.5rem 0;
      .material-icons {
        color:$value;
      }
      .btn-upload {
        color: color-yiq($value);
        
  background-color: $value;
  border-color: $value;
        @include hover {
          background-color: map-get($colors-variant, #{$color}-dark);
        }
        &.disabled,
        &:disabled {
          background-color: uspto-color("gray", "200");
          color: $white;
        }
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled).active,
        .show > &.dropdown-toggle {
          background-color: map-get($colors-variant, #{$color}-darker);
          // color: color-yiq(map-get($colors-variant, #{$color}-darker));
        }
      }
    }
  }
}

/* multiple file upload */
.input-upload-area:hover, .dragover {background: #f0f0f0;
  -moz-transform: scale(0.99);
  -webkit-transform: scale(0.99);
  -o-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition:transform 0.3s ease-in-out;
  -ms-transition:transform 0.3s ease-in-out;
}