.form-control {
  &:focus,
  &.focus {
    outline: 0.25rem solid #2491ff;
    outline-offset: 0;
  }
  &.is-valid,
  &.is-invalid {
    border-width: 0.25rem !important;
    &.no-icon {
      background-image: none;
      padding-right: $input-padding-x !important;
    }
  }
}

.was-validated {
  .form-control {
    &:valid,
    &:invalid {
      border-width: 0.25rem !important;
    }
  }
}

.form-control-sm,
.form-control-lg {
  @include border-radius($input-border-radius);
}

// Range slider

@mixin range-focus {
  background-color: $primary-dark;
  //box-shadow:0 0 0 2px $primary-dark;
}

@mixin range-track {
  background-color: $light;
  border-radius: 99rem;
  border: 1px solid $light-dark;
  cursor: pointer;
  height: 1rem;
  width: 100%;
}

@mixin range-thumb {
  height: 1.4rem;
  border-radius: 99rem;
  width: 1.4rem;
  background: $primary;
  border: none;
  //box-shadow: 0 0 0 2px $primary;
  cursor: pointer;
}

@mixin range-ms-fill {
  background-color: $light;
  border-radius: 99rem;
  //border:1px solid $light-dark;
  //width:100%;
}

.form-control-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding-left: 1px;
  width: 100%;

  &:focus {
    outline: none;
    outline: 0.25rem solid #2491ff;
    outline-offset: 3px;

    &::-webkit-slider-thumb {
      @include range-focus;
    }

    &::-moz-range-thumb {
      @include range-focus;
    }

    &::-ms-thumb {
      @include range-focus;
    }
  }

  &::-webkit-slider-runnable-track {
    @include range-track;
  }

  &::-moz-range-track {
    @include range-track;
  }

  &::-ms-track {
    @include range-track;
  }

  &::-webkit-slider-thumb {
    @include range-thumb;
    appearance: none;
    margin-top: -0.2.1rem;
  }

  &::-moz-range-thumb {
    @include range-thumb;
  }

  &::-ms-thumb {
    @include range-thumb;
  }

  &::-ms-fill-lower {
    @include range-ms-fill;
  }

  &::-ms-fill-upper {
    @include range-ms-fill;
  }
}
// Form help text
.form-hint {
  color:$secondar;
  margin-bottom: .2rem;
  font-size: .9rem;
}
