@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(.././icons/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(.././icons/material-icons/MaterialIcons-Regular.woff2) format("woff2"),
    url(.././icons/material-icons/MaterialIcons-Regular.woff) format("woff"),
    url(.././icons/material-icons/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 1.35rem; /* Preferred icon size */
  display: inline-block;
  line-height: inherit;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

// Material icon sizes
@mixin md-icon-size($size: 1.35rem) {
  font-size: $size;
}

$material-font-size: (
    "xs": 0.75rem,
    "sm": 1rem,
    "lg": 2rem,
    "2x": 2.7rem,
    "3x": 4.05rem,
    "5x": 6.75rem,
    "10x": 13.5rem
);
@each $size, $value in $material-font-size {
  .material-icons {
    &.md-#{$size} {
      @include md-icon-size($value);
    }  
  }
}
// .material-icons.md-xs {
//   @include md-icon-size(0.75rem);
// }
// .material-icons.md-sm {
//   @include md-icon-size(1rem);
// }
// .material-icons.md-lg {
//   @include md-icon-size(2rem);
// }

// .material-icons.md-2x {
//   @include md-icon-size(2.7rem);
// }
// .material-icons.md-3x {
//   @include md-icon-size(4.05rem);
// }
// .material-icons.md-5x {
//   @include md-icon-size(6.75rem);
// }
// .material-icons.md-10x {
//   @include md-icon-size(13.5rem);
// }
