.sidenav {
  @extend .nav;
  @extend .flex-column;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  display: block;
  float: left;
  margin: 2rem 2rem 2rem 0;
  width: 15rem;

  li {
    @extend .nav-item;
    &.active {
      background-color: $light-lightest;
      border-left: 0.25rem solid $primary;
      font-weight: $font-weight-bold;
      margin-left: -0.125rem;

      .sidenav-sublist {
        display: block;
        font-weight: $font-weight-normal;
      }
    }

    > a {
      @extend .nav-link;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
  }
  &-sublist {
    display: none;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    font-size: 0.81rem;
  }
}
