h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  letter-spacing: -0.04em;
}
// blockquote styles
.blockquote {
  font-size: 1rem;
  border-left: .25rem solid $light;
    margin-left: 0;
    padding-left: 1rem;
    footer {
    background-color:transparent;
    padding: 0;
    margin-top: 0.5rem;
    
    }
}
.blockquote-footer {
  font-size: 1rem;
  color:$secondary;
  
}

// Optional responsive text classes for header tag
$responsive-text-size: (
    "h1": "1",
    "h2": "0.6",
    "h3": "0.4",
    "h4": "0.3",
    "h5": "0.2"
);

@each $name, $size in $responsive-text-size {
  #{$name}, .#{$name} {
    &.text-responsive {
    font-size: calc(100% + #{$size}vw + #{$size}vh);
  }
}
}

