/* media rules for xs screens */
@media (max-width: 767px) {
  .uspto-header-top .patent-menu {
    min-width: 275px;
    min-width: 27.5rem;
    left: -80px;
  }
  .uspto-header-top .trademark-menu {
    min-width: 300px;
    min-width: 30rem;
    left: -140px;
  }
  .uspto-header-top .trademark-menu .dropdown-menu li a {
    white-space: normal;
  }
  .uspto-header-top .fees-menu {
    min-width: 240px;
    min-width: 24rem;
    left: -120px;
  }
}
