$icomoon-font-family: "uspto-icons" !default;
$icomoon-font-path: "../icons/uspto-icons" !default;

$uspto-icon-home: "\e90a";
$uspto-icon-sign-out: "\e90b";
$uspto-icon-myuspto: "\e909";
$uspto-icon-bars: "\e900";
$uspto-icon-user: "\e901";
$uspto-icon-trademark: "\e902";
$uspto-icon-question-circle: "\e903";
$uspto-icon-user-white: "\e904";
$uspto-icon-caret: "\e905";
$uspto-icon-dollar: "\e906";
$uspto-icon-external-link: "\e907";
$uspto-icon-lightbulb: "\e908";
