/*import variable dependencies*/
@import "./uspto-colors";
@import "./uspto-fonts";

$black: #000;
$white: #fff;

$primary: uspto-color("blue") !default;
//primary variant
$primary-lightest: uspto-color("blue", "100") !default;
$primary-dark: uspto-color("blue", "600") !default;
$primary-darker: uspto-color("blue", "700") !default;

$danger: uspto-color("red") !default;
//danger variant
$danger-lightest: uspto-color("red", "100") !default;
$danger-dark: uspto-color("red", "600") !default;
$danger-darker: uspto-color("red", "700") !default;

$dark: uspto-color("gray", "900") !default;

$info: uspto-color("cyan") !default;
//info variant
$info-lightest: uspto-color("cyan", "100") !default;
$info-dark: uspto-color("cyan", "600") !default;
$info-darker: uspto-color("cyan", "700") !default;

$light: uspto-color("light") !default;
//light variant
$light-lightest: uspto-color("light", "100") !default;
$light-dark: uspto-color("light", "600") !default;
$light-darker: uspto-color("light", "700") !default;

$secondary: uspto-color("gray") !default;
//secondary variant
$secondary-lightest: uspto-color("gray", "200") !default;
$secondary-dark: uspto-color("gray", "600") !default;
$secondary-darker: uspto-color("gray", "700") !default;

$success: uspto-color("green") !default;
//secondary variant
$success-lightest: uspto-color("green", "100") !default;
$success-dark: uspto-color("green", "600") !default;
$success-darker: uspto-color("green", "700") !default;

$warning: uspto-color("orange") !default;
//warning variant
$warning-lightest: uspto-color("yellow", "100") !default;
$warning-dark: uspto-color("orange", "600") !default;
$warning-darker: uspto-color("orange", "700") !default;

$gray-deafult: uspto-color("gray") !default;
//gray variant
$gray-lightest: uspto-color("gray", "100") !default;

$colors-variant: () !default;
$colors-variant: map-merge(
  (
    primary-lightest: $primary-lightest,
    primary-dark: $primary-dark,
    primary-darker: $primary-darker,
    danger-lightest: $danger-lightest,
    danger-dark: $danger-dark,
    danger-darker: $danger-darker,
    dark-lightest: #aeaeae,
    dark-dark: #24282c,
    dark-darker: #141719,
    gray-deafult: $gray-deafult,
    gray-lightest: $gray-lightest,
    info-lightest: $info-lightest,
    info-dark: $info-dark,
    info-darker: $info-darker,
    light-lightest: $light-lightest,
    light-dark: $light-dark,
    light-darker: $light-darker,
    secondary-lightest: $secondary-lightest,
    secondary-dark: $secondary-dark,
    secondary-darker: $secondary-darker,
    success-lightest: $success-lightest,
    success-dark: $success-dark,
    success-darker: $success-darker,
    warning-lightest: $warning-lightest,
    warning-dark: $warning-dark,
    warning-darker: $warning-darker,
  ),
  $colors-variant
);

//bootstrap variable override

$yiq-contrasted-threshold: 160 !default;

// Body
//
// Settings for the `<body>` element.

$body-color: uspto-color("gray", "900") !default;

$border-width: 1px !default;
$border-color: $secondary-dark !default;
$border-radius: 0.25rem !default;

// Links
//
// Style anchor elements.

$link-decoration: underline !default;

$font-family-base: $font-family-sans-serif !default;

$font-size-base: 1rem !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.25 !default;
$h4-font-size: $font-size-base * 1.125 !default;
$h5-font-size: $font-size-base !default;
$h6-font-size: $font-size-base * 0.875 !default;

$headings-font-weight: 700 !default;
$headings-font-family: $font-family-georgia !default;

$text-muted: $secondary-dark !default;

$font-weight-semi-bold: 600 !default;

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-t: 1.25rem !default;
$alert-padding-r: 1.25rem !default;
$alert-padding-b: 1rem !default;
$alert-padding-l: 1.75rem !default;
$alert-padding-y-sm: 0.5rem !default;
$alert-margin-bottom: 1rem !default;
$alert-border-radius: 0 !default;
$alert-border-width: 0 !default;
$alert-link-font-weight: $font-weight-bold !default;

$alert-bg-level: 0 !default;
$alert-border-level: 0 !default;
$alert-color-level: 0 !default;

// Badges
$badge-font-size: 87.5% !default;
$badge-font-weight: $font-weight-normal !default;
$badge-padding-y: 0.25rem !default;
$badge-padding-x: 0.5rem !default;
$badge-border-radius: 0.15rem !default;

// Breadcrumbs
$breadcrumb-bg: transparent !default;
$breadcrumb-divider-color: $secondary-dark !default;
$breadcrumb-active-color: $secondary-dark !default;
$breadcrumb-divider: quote(">") !default;
$breadcrumb-padding-y: 0.25rem !default;
$breadcrumb-padding-x: 0.25rem !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-focus-box-shadow: none !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
// most of these variables are shared with input - once input styles are added - TODO to merge them
$btn-padding-y: 0.75rem !default;
$btn-padding-x: 1.25rem !default;

//$btn-font-size: 1.06rem !default;
$btn-line-height: 0.9 !default;

$btn-padding-y-lg: 1rem !default;
$btn-padding-x-lg: 1.5rem !default;
$btn-font-size-lg: 1.33rem !default;
$btn-line-height-lg: 0.9 !default;

$btn-border-width: 0 !default;

$btn-font-weight: $font-weight-bold !default;
$btn-box-shadow: inset 0 0 0 0.125rem !default;
$btn-focus-width: 0 !default;
//$btn-focus-box-shadow: none !default;
$btn-disabled-opacity: 1 !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-lg: $border-radius !default;

// Cards
$card-border-width: 0.125rem !default;
$card-border-color: $light !default;
$card-cap-bg: none !default;

// Forms

$input-padding-y: 0.5rem !default;
$input-padding-x: 0.5rem !default;
$input-line-height: 1.375 !default;
$input-color: $body-color !default;
$input-border-color: $gray-lightest !default;

$input-border-radius: 0 !default;

$input-focus-border-color: $gray-lightest !default;

//Custom form element

$custom-control-indicator-size: 1.25rem !default;
$custom-control-indicator-border-width: 0 !default;

$custom-control-indicator-disabled-bg: uspto-color("light", "400") !default;
$custom-control-label-disabled-color: uspto-color("gray", "200") !default;

$custom-checkbox-indicator-border-radius: 0.125rem !default;

$custom-radio-indicator-icon-checked: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='-5 -5 10 10'><circle r='4' fill='#{$primary}'/></svg>") !default;

$custom-radio-indicator-icon-disabled: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='-5 -5 10 10'><circle r='4' fill='#{$secondary-lightest}'/></svg>") !default;

$custom-select-border-radius: 0 !default;

// Jumbotron
$jumbotron-bg: $light !default;

// Modal
$modal-content-border-color: #ccc !default;
$modal-content-border-radius: 0 !default;
$modal-header-border-color: #ddd !default;

$modal-header-padding-y: 0.5rem !default;
$modal-header-padding-x: 1rem !default;
$modal-inner-padding: $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

//navbar
$navbar-brand-padding-y: 0.25rem !default;

$navbar-dark-color: $white !default;
$navbar-dark-hover-color: $white !default;

$navbar-padding-y: 0.25rem !default;

// Popovers
$popover-border-radius: 0 !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: 0.5rem !default;
$table-accent-bg: $light !default;
$table-head-bg: $light !default;
$table-head-color: null !default;
$table-dark-bg: $secondary-darker !default;

$text-muted: $gray-deafult !default;

$table-border-color: $gray-lightest !default;
