$iconathon-font-family: "uspto-ip-icons" !default;
$iconathon-font-path: "../icons/uspto-ip-icons" !default;


$icon-noun-utility-patent: "\e900";
$icon-noun-patent-pending: "\e901";
$icon-noun-plant-patent: "\e902";
$icon-noun-pro-se: "\e903";
$icon-noun-invention: "\e904";
$icon-noun-maker: "\e905";
$icon-noun-intellectual-property: "\e906";
$icon-noun-design-patent: "\e907";
$icon-noun-prior-art: "\e908";
$icon-noun-small-inventor: "\e909";
$icon-noun-large-inventor: "\e90a";
$icon-noun-infringement: "\e90b";
$icon-noun-trade-secret: "\e90c";
$icon-noun-micro-entity-inventor: "\e90d";
$icon-noun-service-mark: "\e90e";
$icon-noun-counterfeit: "\e90f";
$icon-noun-trademark: "\e910";
$icon-noun-stem: "\e911";
$icon-noun-pro-bono: "\e912";