.usa-combo-box__toggle-list,
.usa-combo-box__clear-input,
.usa-combo-box__list,
.usa-combo-box__input-button-separator {
  z-index: 99 !important;
}

.usa-combo-box__input,
.usa-input {
  border-color: #ccc !important;
}
